In [ ]:
import pandas as pd
import requests

In [ ]:
!pip install pydub

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pydub
  Downloading pydub-0.25.1-py2.py3-none-any.whl (32 kB)
Installing collected packages: pydub
Successfully installed pydub-0.25.1

In [ ]:
response = requests.get('https://xeno-canto.org/api/2/recordings?query=cnt:brazil')

In [ ]:
df = pd.DataFrame(response.json()['recordings'])

In [ ]:
df.columns

Index(['id', 'gen', 'sp', 'ssp', 'group', 'en', 'rec', 'cnt', 'loc', 'lat',
       'lng', 'alt', 'type', 'sex', 'stage', 'method', 'url', 'file',
       'file-name', 'sono', 'osci', 'lic', 'q', 'length', 'time', 'date',
       'uploaded', 'also', 'rmk', 'bird-seen', 'animal-seen', 'playback-used',
       'temp', 'regnr', 'auto', 'dvc', 'mic', 'smp'],
      dtype='object')

In [ ]:
df.to_csv('BirdRecordingBrazil.csv')

In [ ]:
response1 = requests.get('https://xeno-canto.org/api/2/recordings?query=cnt:india')

In [ ]:
df1 = pd.DataFrame(response1.json()['recordings'])

In [ ]:
df1.columns

Index(['id', 'gen', 'sp', 'ssp', 'group', 'en', 'rec', 'cnt', 'loc', 'lat',
       'lng', 'alt', 'type', 'sex', 'stage', 'method', 'url', 'file',
       'file-name', 'sono', 'osci', 'lic', 'q', 'length', 'time', 'date',
       'uploaded', 'also', 'rmk', 'bird-seen', 'animal-seen', 'playback-used',
       'temp', 'regnr', 'auto', 'dvc', 'mic', 'smp'],
      dtype='object')

In [ ]:
df1.to_csv('BirdRecordingIndia.csv')

In [ ]:
df1

,id,gen,sp,ssp,group,en,rec,cnt,loc,lat,...,rmk,bird-seen,animal-seen,playback-used,temp,regnr,auto,dvc,mic,smp
0,335628,Megapodius,nicobariensis,,birds,Nicobar Megapode,Sudhir Garg,India,,,...,It was one of toughest journey of mine for sea...,no,no,no,,,no,,,44100
1,298956,Megapodius,nicobariensis,,birds,Nicobar Megapode,Garima Bhatia,India,,,...,Bird was seen briefly at nest (observers were ...,yes,yes,no,,,no,,,16000
2,569023,Lerwa,lerwa,,birds,Snow Partridge,Jelle Scharringa,India,"Sela pass area, Arrunachal Pradesh",27.4928,...,"8 birds together, a few of them calling.",yes,yes,yes,,,no,,,44100
3,569021,Lerwa,lerwa,,birds,Snow Partridge,Jelle Scharringa,India,"Sela pass area, Arrunachal Pradesh",27.4928,...,"8 birds together, a few of them calling.",yes,yes,yes,,,no,,,44100
4,569020,Lerwa,lerwa,,birds,Snow Partridge,Jelle Scharringa,India,"Sela pass area, Arrunachal Pradesh",27.4928,...,"8 birds together, a few of them calling.",yes,yes,yes,,,no,,,44100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,426341,Pavo,cristatus,,birds,Indian Peafowl,ARUN PRABHU,India,"Manipal, Udupi, Karnataka",13.347,...,,yes,yes,unknown,,,no,,,44100
496,406117,Pavo,cristatus,,birds,Indian Peafowl,Dilip KG,India,"Coimbatore, Coimbatore, Tamil Nadu",11.0477,...,,yes,yes,no,,,no,,,44100
497,369407,Pavo,cristatus,,birds,Indian Peafowl,Peter Boesman,India,"Mysore-Ooty Rooad, The Nilgiris County, Tamil ...",11.5515,...,,unknown,unknown,unknown,,,no,,,44100
498,369406,Pavo,cristatus,,birds,Indian Peafowl,Peter Boesman,India,"Mysore-Ooty Rooad, The Nilgiris County, Tamil ...",11.5515,...,,unknown,unknown,unknown,,,no,,,44100
499,215374,Pavo,cristatus,,birds,Indian Peafowl,Pankaj Koparde,India,"Supkhar reserve forest, Balaghat, Madhya Pradesh",22.1991,...,,yes,yes,no,,,no,,,44100

In [ ]:
print(df.shape)
print(df1.shape)

(500, 38)
(500, 38)

In [ ]:
df1.isnull().sum()

id               0
gen              0
sp               0
ssp              0
group            0
en               0
rec              0
cnt              0
loc              0
lat              9
lng              9
alt              0
type             0
sex              0
stage            0
method           0
url              0
file             0
file-name        0
sono             0
osci             0
lic              0
q                0
length           0
time             0
date             0
uploaded         0
also             0
rmk              0
bird-seen        0
animal-seen      0
playback-used    0
temp             0
regnr            0
auto             0
dvc              0
mic              0
smp              0
dtype: int64

In [ ]:
df1['file'][df1['gen']=='Francolinus']

13     https://xeno-canto.org/676586/download
14     https://xeno-canto.org/569064/download
15     https://xeno-canto.org/426552/download
16     https://xeno-canto.org/426551/download
17     https://xeno-canto.org/362925/download
                        ...
110     https://xeno-canto.org/35558/download
111    https://xeno-canto.org/414645/download
112    https://xeno-canto.org/117027/download
113    https://xeno-canto.org/117026/download
114     https://xeno-canto.org/37607/download
Name: file, Length: 102, dtype: object

In [ ]:
print(df1['file'][33])

https://xeno-canto.org/747786/download

In [ ]:
df1.groupby(['sp']).size().sort_values(ascending=False)

sp
sonneratii        63
pondicerianus     48
torqueola         33
cristatus         31
spadicea          29
impejanus         27
macrolopha        23
pictus            23
gallus            23
coromandelica     23
francolinus       20
rufogularis       14
erythrorhyncha    14
mandellii         13
atrogularis       13
leucomelanos      12
blythii           11
gularis           11
bicalcaratum      11
asiatica          11
lerwa              9
wallichii          9
fytchii            5
lunulata           4
melanocephalus     3
cruentus           3
satyra             3
nicobariensis      2
sclateri           2
chukar             2
argoondah          2
coturnix           1
temminckii         1
chinensis          1
dtype: int64

In [ ]:
df1["gen"].nunique()

19

In [ ]:
sub_df = df1[df1.groupby('sp').gen.transform('count')>25].copy()

In [ ]:
sub_df

,id,gen,sp,ssp,group,en,rec,cnt,loc,lat,...,rmk,bird-seen,animal-seen,playback-used,temp,regnr,auto,dvc,mic,smp
56,706170,Francolinus,pondicerianus,interpositus,birds,Grey Francolin,Kousheyo Bagchi,India,"Barshul Birding Hotspot, Bardhaman, West Bengal",23.175,...,Dry vegetations around R. Damodar. Eastern edg...,unknown,unknown,unknown,,,no,,,44100
57,667224,Francolinus,pondicerianus,,birds,Grey Francolin,Jelle Scharringa,India,"Shreenagar Rural, Bharatpur, Rajasthan",27.1536,...,Several birds on ground calling from many dire...,yes,yes,no,,,no,,,44100
58,667223,Francolinus,pondicerianus,,birds,Grey Francolin,Jelle Scharringa,India,"Shreenagar Rural, Bharatpur, Rajasthan",27.1536,...,Several birds on ground calling from different...,yes,yes,no,,,no,,,44100
59,611583,Francolinus,pondicerianus,,birds,Grey Francolin,Jelle Scharringa,India,"Tal, Kutch, Gujarat",23.5979,...,Banni Grasslands.,yes,yes,no,,,no,,,44100
60,611581,Francolinus,pondicerianus,,birds,Grey Francolin,Jelle Scharringa,India,Centre for Desert & Ocean (CEDO),23.3777,...,Edge of Moti Virani village.,yes,yes,no,,,no,,,44100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,426341,Pavo,cristatus,,birds,Indian Peafowl,ARUN PRABHU,India,"Manipal, Udupi, Karnataka",13.347,...,,yes,yes,unknown,,,no,,,44100
496,406117,Pavo,cristatus,,birds,Indian Peafowl,Dilip KG,India,"Coimbatore, Coimbatore, Tamil Nadu",11.0477,...,,yes,yes,no,,,no,,,44100
497,369407,Pavo,cristatus,,birds,Indian Peafowl,Peter Boesman,India,"Mysore-Ooty Rooad, The Nilgiris County, Tamil ...",11.5515,...,,unknown,unknown,unknown,,,no,,,44100
498,369406,Pavo,cristatus,,birds,Indian Peafowl,Peter Boesman,India,"Mysore-Ooty Rooad, The Nilgiris County, Tamil ...",11.5515,...,,unknown,unknown,unknown,,,no,,,44100
499,215374,Pavo,cristatus,,birds,Indian Peafowl,Pankaj Koparde,India,"Supkhar reserve forest, Balaghat, Madhya Pradesh",22.1991,...,,yes,yes,no,,,no,,,44100

In [ ]:
sub_df.to_csv('BirdRecordingIndiafinal.csv')

In [ ]:
train_df=sub_df[["sp","file-name"]]

In [ ]:
train_df

                sp                                    file-name
56   pondicerianus                              XC706170-GF.mp3
57   pondicerianus                            XC667224-a14a.mp3
58   pondicerianus                            XC667223-a06a.mp3
59   pondicerianus                            XC611583-a13a.mp3
60   pondicerianus                            XC611581-a14a.mp3
..             ...                                          ...
495      cristatus                  XC426341-indian peafowl.mp3
496      cristatus                  XC406117-indian peafowl.mp3
497      cristatus  XC369407-LS105179 Indian Peacock call B.mp3
498      cristatus  XC369406-LS105178 Indian Peacock call B.mp3
499      cristatus              XC215374-Peacock_Supkhar_PK.mp3

[231 rows x 2 columns]

In [ ]:
x=train_df["file"][56]

In [ ]:
print(x)

https://xeno-canto.org/706170/download

In [ ]:
from os import path
from pydub import AudioSegment

# files                                                                         
src = "https://xeno-canto.org/706170/download"
dst = "test.wav"

# convert wav to mp3                                                            
sound = AudioSegment.from_mp3(src)
sound.export(dst, format="wav")

FileNotFoundError: ignored

In [ ]:
import requests

url = 'http://google.com/favicon.ico'
r = requests.get(url, allow_redirects=True)
open('google.ico', 'wb').write(r.content)

5430

In [ ]:
import urllib.request
import wave

# URL of the music file to download
url = 'https://xeno-canto.org/569020/download'

# Open the URL and download the music file
response = urllib.request.urlopen(url)

# Open a wave file to write the music to
with wave.open('music1.wav', 'wb') as f:
    # Set the wave file parameters
    f.setnchannels(2)
    f.setsampwidth(2)
    f.setframerate(44100)

    # Write the music data to the wave file
    f.writeframes(response.read())

# Close the response and the wave file
response.close()
f.close()

In [ ]:
import urllib.request
import wave

# # URL of the music file to download
url = 'https://xeno-canto.org/569020/download'

# # Open the URL and download the music file
response = urllib.request.urlopen(url)

# Open a wave file to write the music to
with wave.open('music2.wav', 'wb') as f:
    # Set the wave file parameters
    f.setnchannels(2)
    f.setsampwidth(2)
    f.setframerate(44100)
    # Write the music data to the wave file
    f.writeframes(response.read())

# Close the response and the wave file
response.close()
f.close()

In [ ]:
with wave.open('music1.wav','rb') as f:
  print(f.getparams())

_wave_params(nchannels=2, sampwidth=2, framerate=44100, nframes=153168, comptype='NONE', compname='not compressed')

In [ ]:
from requests import get                        #to make GET request 
import random 
def download(url): 
  name = random.randrange(1, 99999) 
  file_name = str(name) + ".mp3"     
  with open(file_name, "wb") as file:  	# open in binary mode 
    response = get(url)                     # get request 
    file.write(response.content)            # write to file 
download("https://xeno-canto.org/569020/download")